<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <br><%= link_to image_tag("logo-small.png"), root_path, class: "navbar-brand" %></a>
        <br><br>
        <p>&copy;Backstage Kennels 2015</p>
      </div>
      <div class="col-xs-9">
        <div class="pull-right">
          <ul>
            <h4><u>Affiliations</u></h4>
            <li>
              <%= image_tag "retriever_club.png" %><br><%= link_to "The Golden Retriever Club of America", "https://www.grca.org/" %>
            </li>
            <li>
              <%= link_to "The Treasure Coast Kennel Club", "http://www.treasurecoastkennelclub.org/" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
